<h1><%= @article.title %></h1>
<p>
    <% if @article.tags.length() > 0 %>
        <span>Tags:</span>
        <% @article.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>
        <% end %>
    <% end %>

</p>


<p>
    <% if @article.image.exists? %>
        <%= image_tag @article.image.url(:medium) %>
    <% end %>

</p>

<p class="mt-4"><%= @article.body %></p>

<div class="d-flex mt-4">
    <%= link_to "Edit", edit_article_path(@article), class:"mr-2" %>

    <%= link_to "Delete", article_path(@article),
        method: :delete,
        data: {confirm: "Really delete the article?"}
    %>
</div>

<br />

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<br />

<%= render partial: 'comments/form' %>

<%= link_to "<< Back to Articles List", articles_path %>
